@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ops! Acesso bloqueado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem acesso a este recurso. Contate o administrador do sistema para solicitar o seu acesso.</p>
</header>
