@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1><font color="#4d81b9"><i>Ladislau</i></font></h1>
        <p class="lead">Sistema de controle do intercâmbio entre as revistas enviadas </p>
        <p class="lead">e recebidas pela biblioteca do Museu Nacional</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Site Biblioteca</h2>
            <p>
                <img alt="" src="Images/siteBiblioteca.jpg" style="width: 100%; height:100%">
            </p>
            <p>
                <a class="btn btn-info" href="http://www.museunacional.ufrj.br/biblioteca">Veja mais »</a>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Sistema Minerva</h2>
            <p>
                <img alt="" src="Images/minerva.jpg" style="width: 100%; height:150%">
            </p>
            <p>
                <a class="btn btn-info" href="http://minerva.ufrj.br/F?RN=873781622">Veja Mais »</a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                &nbsp;
            </p>
        </div>
    </div>
</div>
